h1{
    font-family: 'League Gothic', sans-serif;
    text-align: center;
    background-color:aquamarine;
    border: solid rgb(185, 102, 8);
    border-width: 10px;
}
* {
    clear: both;
    box-sizing: border-box;
}
h2{
    font-family: 'League Gothic', sans-serif;
    float: left;


}

body { 
    background-color:bisque;
   
}

main {
    width: 960px;
    margin: 0 auto;
}

 p {
    font-family: 'League Gothic', sans-serif;
    width:50%;
    
}

 button{
position:relative;
width:10%;
} 


header  {
width:100%;
background-color: rgb(4, 78, 4);
/* display: flex; */
/* justify-content:space-between; */
}


nav {
    background-color: tan;
    color:rgb(65, 125, 177);   
}


nav li {
font-family: 'League Gothic', sans-serif;   
display: inline-block;
text-align: center;
border: 3px solid rgb(20, 20, 20);
margin:50px;
} 


main  img {
    margin-bottom: 10px;
}


 

footer {
height:70px;
background-color: rgb(4, 78, 4); 
}



table {
    
}